/* Generell styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex; /* Flexbox for body */
  flex-direction: column; /* Vertikal retning */
  min-height: 100vh; /* Minimum høyde som tar hele vinduet */
}

/* Wrapper for å holde innhold og footer på plass */
.wrapper {
  flex: 1; /* Tar opp all tilgjengelig plass mellom header og footer */
}

/* Header styling */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  width: 20%;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
  margin: 10px 0;
}
/* Header styling */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center; /* Endre fra center til left for å justere innholdet til venstre */
}

.header-content {
  display: flex; /* Bruk flexbox for å plassere logo og overskrift ved siden av hverandre */
  align-items: center; /* Sentraliserer vertikalt */
}

.logo {
  width: 200px; /* Angi ønsket bredde på logoen */
  height: auto; /* Holder på proporsjoner */
  margin-right: 1100px; /* Litt mellomrom mellom logoen og overskriften */
}

h1 {
  font-size: 2em;
  margin: 0; /* Fjern margin for bedre justering */
  color: #fff; /* Tekstfarge for overskriften */
}
/* Meny styling */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content styling */
main {
  padding: 20px;
  flex: 1; /* Tar opp all tilgjengelig plass mellom header og footer */
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

table thead {
  background-color: #333;
  color: #fff;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

table th {
  background-color: #444;
  color: #fff;
}

table td {
  color: #333;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%; /* Full bredde */
  margin-top: auto; /* Skyver footer til bunnen */
}
